[submodule "iopart"]
	path = iopart
	url = git@github.com:gravitationalarry/iopart.git
[submodule "ligo-acronyms"]
	path = ligo-acronyms
	url = git@github.com:gravitationalarry/ligo-acronyms.git
[submodule "astronat"]
	path = astronat
	url = https://github.com/gravitationalarry/astronat.git
[submodule "bib"]
	path = bib
	url = https://github.com/gravitationalarry/bib.git
