[submodule "ligo-acronyms"]
	path = ligo-acronyms
	url = https://github.com/gravitationalarry/ligo-acronyms.git
[submodule "astronat"]
	path = astronat
	url = https://github.com/gravitationalarry/astronat.git
[submodule "bib"]
	path = bib
	url = https://github.com/gravitationalarry/bib.git
